<!doctype html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Похуй, текст</title>
<link rel="stylesheet" href="{% static 'css/cabinet.css' %}">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body style='overflow-x:hidden; margin:0%'>
    <input type="hidden" class="id" value="{{id}}" id="id">
    <div class="main_cab">
        <div class="exit" onclick="exit()"><img src="{% static "images/exit.png"%}" ></div>
        <div class="create" onclick="gotocreatecurs()"><div class="create_text">Создать курс</div></div>
        <div class="navigation">
            <div class="navi_columns">
            <div class="navi_button" onclick="gotomain()">Главная</div>
            <div class="navi_button" onclick="gotocab()">Кабинет</div>
            <div class="navi_button" onclick="">Форум</div>
            <div class="navi_button" onclick="gotocurs()" style="border: 2px solid rgb(255, 255, 255);">Курсы</div>
            </div>
        </div>


        <div class="curs_field">
            {% for c in cd_info %}
            <div class="curs_row" id="{{c.cd_id}}">
                <div class="disc_name" onclick="gotocd({{c.cd_id}})">{{c.cd_disc}}</div>
                <div class="dir_name">{{c.cd_dir}}</div>
                <div class="change_name" onclick="delete_cd({{c.cd_id}})" style="margin-top:20%;">Удалить</div>
                <div class="change_name" onclick="gotochangecd({{c.cd_id}})" style="margin-top:-20%;">Изменить</div>
            </div>
            {% endfor %}
        </div>



    </div>

    <script src="{% static "js/cabinet.js"%}"></script>
</body>
</html>