<!doctype html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rudius: Тестирование: {{test_id}}</title>
<link rel="stylesheet" href="{% static 'css/cabinet.css' %}">
<link rel="stylesheet" href="{% static 'css/reg.css' %}">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



</head>
<body style='overflow-x:hidden; margin:0%'>
    <input type="hidden" class="id" value="{{id}}" id="id">
    <input type="hidden" class="id" value="{{cd_id}}" id="cd_id">
    <input type="hidden" class="id" value="{{tick_id}}" id="tick_id">
    <div class="main_cab">
        <div class="exit" onclick="exit()"><img src="{% static "images/exit.png"%}" ></div>
        <div class="navigation">
            <div class="navi_columns">
            <div class="navi_button" onclick="gotomain()">Главная</div>
            <div class="navi_button" onclick="gotocab()">Кабинет</div>
            <div class="navi_button" onclick="gotoforum()">Форум</div>
            <div class="navi_button" onclick="gotocurs()" style="border: 2px solid rgb(255, 255, 255);">Курсы</div>
            </div>
        </div>

        <div class="curs_create_field">
            <div class="main_title" style="position: absolute; top:10%; font-size: 30px;">Вы можете перейти на вопрос, чтобы дать или изменить ответ</div>
            
            <div class="tickettask_field" id="tt_field" style="height: 75%;margin-top: 10%;">
                {% for t in task_used_info %}
                <div class="addtask_row" points="{{t.task_points}}" id="task_{{t.task_id}}">
                    <div class="addtask_text" id="text{{t.task_id}}" style="cursor:pointer; text-decoration: underline;" onclick="gototaskst({{t.task_id}})">{{t.task_quest}}</div>
                    <div class="addtask_points">Ваш ответ: {{t.ansname}}</div>
                    <div class="addtask_delete" style="cursor: default; text-decoration:none;">Баллов за ответ: {{t.task_points}}</div>
                </div>
                {% endfor %}
            </div>

        </div>


    </div>

    <script src="{% static "js/cabinet.js"%}"></script>
</body>
</html>