<!doctype html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rudius: Создать\изменить билет</title>
<link rel="stylesheet" href="{% static 'css/cabinet.css' %}">
<link rel="stylesheet" href="{% static 'css/reg.css' %}">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



</head>
<body style='overflow-x:hidden; margin:0%'>
    <input type="hidden" class="id" value="{{id}}" id="id">
    <input type="hidden" class="id" value="{{cd_id}}" id="cd_id">
    <input type="hidden" class="id" value="{{tick_id}}" id="tick_id">
    <div class="main_cab">
        <div class="exit" onclick="exit()"><img src="{% static "images/exit.png"%}" ></div>
        <div class="exit" onclick="backtotickets()" style="margin-left:0.5%;margin-top:3%;"><img src="{% static "images/go-back-arrow.png"%}" ></div>
        <div class="navigation">
            <div class="navi_columns">
            <div class="navi_button" onclick="gotomain()">Главная</div>
            <div class="navi_button" onclick="gotocab()">Кабинет</div>
            <div class="navi_button" onclick="gotoforum()">Форум</div>
            <div class="navi_button" onclick="gotocurs()" style="border: 2px solid rgb(255, 255, 255);">Курсы</div>
            </div>
        </div>

        <div class="curs_create_field">
            <div class="main_title" style="top: 0%;">Введите данные для добавления нового билета</div>
            <div class="main_title" style="position: absolute; top:15%; font-size: 24px;"> Выберите задачу, укажите количество баллов за ее решение и добавьте в билет</div>
            <div class="label" style="position: absolute;margin-top: 15%;color:black;">Выберите задачу</div>
            <div class="label" style="position: absolute;margin-top: 15%;margin-left: 42%;color:black;">Количество баллов</div>
            <input type="text"  value="" style="position: absolute; top:27.2%; left:60%;margin-left: -20%;margin-top: 0%; font-size: 24px; border: 1px solid rgb(17, 114, 14);border-radius: 0.25rem; height:20px; color:black;background: #56f586;" id="points"/>
            <div class="create" onclick="addtaskticket()" style="top:27.2%;left: 70%;width:10%;"><div class="create_text">Добавить</div></div>
            <div class="errorlabel" id="error_label" style="position:absolute;margin-left:65%;margin-top:10%;max-width:30%;min-width:10%;">Ошибка!</div>
            <div class="custom-select" style="visibility:visible; position:absolute;margin-top:12%;margin-left:10%;">
                <select id="sel">
                    {% for t in task_info %}
                    <option value="{{t.task_id}}" id="task_{{t.task_id}}">{{t.task_quest}}</option>
                    {% endfor %}

                </select>
            </div>
            
            <div class="tickettask_field" id="tt_field">
                {% for t in task_used_info %}
                <div class="addtask_row" points="{{t.task_points}}" id="task_{{t.task_id}}">
                    <div class="addtask_text" id="text{{t.task_id}}">{{t.task_quest}}</div>
                    <div class="addtask_points">Баллов за ответ: {{t.task_points}}</div>
                    <div class="addtask_delete" onclick="deletetaskfromticket('{{t.task_id}}','{{t.task_quest}}')">Удалить</div>
                </div>
                {% endfor %}
            </div>

            <div class="save" onclick="savenewticket()" style="left:40%;top:97%;">Сохранить</div>
            <div class="errorlabel" id="error_label1" style="margin-left:35%;margin-top:25%;max-width:30%;min-width:10%;">В билете нет задач!</div>
        </div>


    </div>

    <script src="{% static "js/cabinet.js"%}"></script>
</body>
</html>