<!doctype html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rudius: Генерация билета</title>
<link rel="stylesheet" href="{% static 'css/cabinet.css' %}">
<link rel="stylesheet" href="{% static 'css/reg.css' %}">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body style='overflow-x:hidden; margin:0%'>
    <input type="hidden" class="id" value="{{id}}" id="id">
    <input type="hidden" class="id" value="{{cd_id}}" id="cd_id">
    <div class="main_cab">
        <div class="exit" onclick="exit()"><img src="{% static "images/exit.png"%}" ></div>
        <div class="exit" onclick="backtotickets()" style="margin-left:0.5%;margin-top:3%;"><img src="{% static "images/go-back-arrow.png"%}" ></div>
        <div class="navigation">
            <div class="navi_columns">
            <div class="navi_button" onclick="gotomain()">Главная</div>
            <div class="navi_button" onclick="gotocab()">Кабинет</div>
            <div class="navi_button" onclick="gotoforum()">Форум</div>
            <div class="navi_button" onclick="gotocurs()"style="border: 2px solid rgb(255, 255, 255);">Курсы</div>
            </div>
        
        </div>
        <div class="curs_field" style="overflow-y:hidden;">
            <div class="main_title" style="top: 0%;">Заполните поля для генерации нового билета</div>
            <div class="main_title" style="position: absolute; top:15%; font-size: 24px;">Введите количество задач</div>
            <input type="text"  value="" style="position: absolute; top:25%; left:61%;margin-left: -20%;margin-top: 0%; font-size: 24px; border: 1px solid rgb(17, 114, 14);border-radius: 0.25rem; height:20px; color:black;background: #56f586;" id="task_amount"/>
            <div class="main_title" style="position: absolute; top:40%;min-width:65%;max-width:65%; font-size: 24px;">Введите количество за решение каждого типа задач</div>
            <div class="label" style="position: absolute;margin-top: 21.2%;margin-left:15%;color:black;">Простая задача</div>
            <div class="label" style="position: absolute;margin-top: 25.4%;margin-left:15%;color:black;">Средняя задача</div>
            <div class="label" style="position: absolute;margin-top: 29.6%;margin-left:15%;color:black;">Сложная задача</div>
            <input type="text"  value="" style="width:5%;position: absolute; top:50%; left:50%;margin-left: -20%;margin-top: 0%; font-size: 24px; border: 1px solid rgb(17, 114, 14);border-radius: 0.25rem; height:20px; color:black;background: #56f586;" id="easy_points"/>
            <input type="text"  value="" style="width:5%;position: absolute; top:60%; left:50%;margin-left: -20%;margin-top: 0%; font-size: 24px; border: 1px solid rgb(17, 114, 14);border-radius: 0.25rem; height:20px; color:black;background: #56f586;" id="middle_points"/>
            <input type="text"  value="" style="width:5%;position: absolute; top:70%; left:50%;margin-left: -20%;margin-top: 0%; font-size: 24px; border: 1px solid rgb(17, 114, 14);border-radius: 0.25rem; height:20px; color:black;background: #56f586;" id="hard_points"/>   
            <div class="main_title" style="position: absolute; top:40%;left:40%;min-width:65%;max-width:65%; font-size: 24px;">(Опционально) Введите количество задач каждого типа</div>
            <div class="label" style="position: absolute;margin-top: 21.2%;margin-left:55%;color:black;">Простая задача</div>
            <div class="label" style="position: absolute;margin-top: 25.4%;margin-left:55%;color:black;">Средняя задача</div>
            <div class="label" style="position: absolute;margin-top: 29.6%;margin-left:55%;color:black;">Сложная задача</div>
            <input type="text"  value="" style="width:5%;position: absolute; top:50%; left:90%;margin-left: -20%;margin-top: 0%; font-size: 24px; border: 1px solid rgb(17, 114, 14);border-radius: 0.25rem; height:20px; color:black;background: #56f586;" id="easy_amount"/>
            <input type="text"  value="" style="width:5%;position: absolute; top:60%; left:90%;margin-left: -20%;margin-top: 0%; font-size: 24px; border: 1px solid rgb(17, 114, 14);border-radius: 0.25rem; height:20px; color:black;background: #56f586;" id="middle_amount"/>
            <input type="text"  value="" style="width:5%;position: absolute; top:70%; left:90%;margin-left: -20%;margin-top: 0%; font-size: 24px; border: 1px solid rgb(17, 114, 14);border-radius: 0.25rem; height:20px; color:black;background: #56f586;" id="hard_amount"/>
        </div>
        <div class="save" onclick="generateticket()" style="left:40%;">Сгенерировать</div>
        <div class="errorlabel" id="error_label" style="margin-left:35%;margin-top:41%;max-width:30%;min-width:10%;position: absolute;">Ошибка!</div>

    </div>

    <script src="{% static "js/cabinet.js"%}"></script>
</body>
</html>