<!doctype html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rudius: Создать\изменить тему</title>
<link rel="stylesheet" href="{% static 'css/cabinet.css' %}">
<link rel="stylesheet" href="{% static 'css/reg.css' %}">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body style='overflow-x:hidden; margin:0%'>
    <input type="hidden" class="id" value="{{id}}" id="id">
    <input type="hidden" class="id" value="{{cd_id}}" id="cd_id">
    <input type="hidden" class="id" value="{{chap_id}}" id="chap_id">
    <input type="hidden" class="id" value="{{topic_id}}" id="topic_id">
    <div class="main_cab">
        <div class="exit" onclick="exit()"><img src="{% static "images/exit.png"%}" ></div>
        <div class="exit" onclick="backtotopic()" style="margin-left:0.5%;margin-top:3%;"><img src="{% static "images/go-back-arrow.png"%}" ></div>
        <div class="navigation">
            <div class="navi_columns">
            <div class="navi_button" onclick="gotomain()">Главная</div>
            <div class="navi_button" onclick="gotocab()">Кабинет</div>
            <div class="navi_button" onclick="gotoforum()">Форум</div>
            <div class="navi_button" onclick="gotocurs()" style="border: 2px solid rgb(255, 255, 255);">Курсы</div>
            </div>
        </div>

        <div class="curs_create_field">
            <div class="main_title" style="top: 0%;">Введите данные для добавления новой темы</div>
            <div class="main_title" style="position: absolute; top:35%; font-size: 24px;"> Придумайте название темы </div>
            <input type="text"  value="{{name}}" style="position: absolute; top:47.2%; left:20%;width:57%;margin-left: 0%;margin-top: 0%; font-size: 24px; border: 1px solid rgb(17, 114, 14);border-radius: 0.25rem; height:20px; color:black;background: #56f586;" id="topic_name"/>
            <div class="save" onclick="savenewtopic()" style="left:40%;">Сохранить</div>
            <div class="errorlabel" id="error_label" style="margin-left:35%;margin-top:25%;max-width:30%;min-width:10%;">Ошибка!</div>
            

            </div>

        </div>


    </div>

    <script src="{% static "js/cabinet.js"%}"></script>
</body>
</html>